html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
}

.li-form {
    margin-right: 20px;
    flex: 0 0 calc(100% / 6 - 20px);
}

.banner {
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.nav-link {
    transition: all 0.3s ease;
}
