@model int
    <div class="container">
        <h1 class="text-primary">The Order Is Successfully Made</h1>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
            Back to Home
        </a>
    </div>
